{% extends 'layout.html' %}
{% load static %}

{% block title %}Set a new password{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/form.css' %}">{% endblock %}

{% block content %}
<div class="page-wrapper">
  <div class="form-container">
    <h1>Set a new password</h1>
    {% if validlink %}
      <form method="post" class="form-with-validation">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        <button class="form-submit" type="submit">Change password</button>
      </form>
    {% else %}
      <p>This password reset link is invalid or has expired. Please request a new one.</p>
      <p><a href="{% url 'users:password_reset' %}">Request another reset link</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
